# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.walking sim.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\walking sim\.idea\.idea.walking sim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
